.home{
  background-image: url("https://t4.ftcdn.net/jpg/05/96/53/35/360_F_596533582_UgVp2PyEDGWBx71tKyFm9jvYRnSvVerZ.jpg");
    font-size:larger;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}